<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <base href="/">

    <title>Alvin Leung 1996</title>

    <style>
      body {
        margin: 0px;
      }
    </style>

    <script src="./webcomponents-loader.js"></script>
    <script src="./<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>
  </head>
  <body>
    <al-app></al-app>
  </body>
</html>
